# Ignore the build directory
build/

# Ignore the vulkansdk directory
vulkansdk/

# Ignore Precompiled Header
src/*.pch
src/*.gch

# Ignore the compiled shaders
src/shaders/*.spv

# Ignore clangd cache
.cache
